@import "core";

.RSVP {
  .Hero {
    background-image: url("/crops/coming-soon-background.jpg");

    @include breakpoint-max(768px) {
      height: 210px;
      background-position-x: right;
    }

    h1 {
      color: #fff;
      font-size: 100px;
      position: absolute;
      bottom: 10%;
      right: 7%;

      @include breakpoint-max(768px) {
        font-size: 50px;
        top: 27%;
      }
    }
  }
}
